<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79631579971-m6tu4bmviloe8ifkbgqoovsuqftvvng1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79631579971-m6tu4bmviloe8ifkbgqoovsuqftvvng1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79631579971-a6ssq8fhlm808pglrqald0uakocooik4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA40WnDmQXTUL45W8hKixp2D5H7jGslSEk</string>
	<key>GCM_SENDER_ID</key>
	<string>79631579971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fams.fams</string>
	<key>PROJECT_ID</key>
	<string>fams-83306</string>
	<key>STORAGE_BUCKET</key>
	<string>fams-83306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79631579971:ios:8348ff1aa55af3b1400df6</string>
	<key>DATABASE_URL</key>
	<string>https://fams-83306.firebaseio.com</string>
</dict>
</plist>